In [1]:
%load_ext sql

In [11]:
import configparser
import psycopg2
config = configparser.ConfigParser()
config.read('dwh.cfg')

DWH_DB                 = config.get("DWH","DWH_DB")
DWH_DB_USER            = config.get("DWH","DWH_DB_USER")
DWH_DB_PASSWORD        = config.get("DWH","DWH_DB_PASSWORD")
DWH_PORT               = config.get("DWH","DWH_PORT")
DWH_ENDPOINT           = config.get("DWH","DWH_ENDPOINT")

In [12]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.cvv3i08f6dbb.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

In [14]:
%sql SELECT * FROM songplays LIMIT 10;

 * postgresql://dwhuser:***@dwhcluster.cvv3i08f6dbb.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[(208, 1541267941796, 15, 'paid', 'SOHTKMO12AB01843B0', 'AR5EYTL1187B98EDA0', 199, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"'),
 (323, 1541413092796, 42, 'paid', 'SOBONKR12A58A7A7E0', 'AR5E44Z1187B9A1D74', 129, 'New York-Newark-Jersey City, NY-NJ-PA', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (17, 1541414462796, 42, 'paid', 'SOCNCGL127D9786D66', 'AREHK7O1187B9ADDD7', 129, 'New York-Newark-Jersey City, NY-NJ-PA', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (307, 1541431879796, 24, 'paid', 'SOBONKR12A58A7A7E0', 'AR5E44Z1187B9A1D74', 23, 'Lake Havasu City-Kingman, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (339, 1541598892796, 23, 'free', 'SOBONKR12A58A7A7E0', 'AR5E44Z1187B9A1D74', 177, 'Raleigh, NC', '"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_1 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D201 Safari/9537.53"'),
 (265, 1541601277796, 15, 'paid', 'SOULTKQ12AB018A183', 'ARKQQZA12086C116FC', 221, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"'),
 (260, 1541605270796, 15, 'paid', 'SOWEUOO12A6D4F6D0C', 'ARQUMH41187B9AF699', 221, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"'),
 (181, 1541614271796, 15, 'paid', 'SODTRKW12A6D4F9A51', 'AR71MIY1187B9BA0C3', 221, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"'),
 (72, 1541687228796, 81, 'free', 'SOQDMXT12A6D4F8255', 'ART5MUE1187B98C961', 317, 'Las Cruces, NM', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (79, 1541722347796, 42, 'paid', 'SOSMXVH12A58A7CA6C', 'AR6PJ8R1187FB5AD70', 275, 'New York-Newark-Jersey City, NY-NJ-PA', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"')]

In [16]:
%sql SELECT * FROM users ORDER BY user_id LIMIT 30;

 * postgresql://dwhuser:***@dwhcluster.cvv3i08f6dbb.us-west-2.redshift.amazonaws.com:5439/dwh
30 rows affected.

[(2, 'Jizelle', 'Benjamin', 'F', 'free'),
 (2, 'Jizelle', 'Benjamin', 'F', 'free'),
 (2, 'Jizelle', 'Benjamin', 'F', 'free'),
 (2, 'Jizelle', 'Benjamin', 'F', 'free'),
 (2, 'Jizelle', 'Benjamin', 'F', 'free'),
 (2, 'Jizelle', 'Benjamin', 'F', 'free'),
 (2, 'Jizelle', 'Benjamin', 'F', 'free'),
 (2, 'Jizelle', 'Benjamin', 'F', 'free'),
 (2, 'Jizelle', 'Benjamin', 'F', 'free'),
 (2, 'Jizelle', 'Benjamin', 'F', 'free'),
 (2, 'Jizelle', 'Benjamin', 'F', 'free'),
 (2, 'Jizelle', 'Benjamin', 'F', 'free'),
 (2, 'Jizelle', 'Benjamin', 'F', 'free'),
 (2, 'Jizelle', 'Benjamin', 'F', 'free'),
 (2, 'Jizelle', 'Benjamin', 'F', 'free'),
 (3, 'Isaac', 'Valdez', 'M', 'free'),
 (3, 'Isaac', 'Valdez', 'M', 'free'),
 (3, 'Isaac', 'Valdez', 'M', 'free'),
 (4, 'Alivia', 'Terrell', 'F', 'free'),
 (4, 'Alivia', 'Terrell', 'F', 'free'),
 (4, 'Alivia', 'Terrell', 'F', 'free'),
 (4, 'Alivia', 'Terrell', 'F', 'free'),
 (4, 'Alivia', 'Terrell', 'F', 'free'),
 (4, 'Alivia', 'Terrell', 'F', 'free'),
 (4, 'Alivia', 'Terrell', 'F', 'free'),
 (4, 'Alivia', 'Terrell', 'F', 'free'),
 (5, 'Elijah', 'Davis', 'M', 'free'),
 (5, 'Elijah', 'Davis', 'M', 'free'),
 (5, 'Elijah', 'Davis', 'M', 'free'),
 (5, 'Elijah', 'Davis', 'M', 'free')]

In [21]:
%sql SELECT * FROM songs LIMIT 30;

 * postgresql://dwhuser:***@dwhcluster.cvv3i08f6dbb.us-west-2.redshift.amazonaws.com:5439/dwh
30 rows affected.

[('SOAAAQN12AB01856D3', 'Campeones De La Vida', 'ARAMIDF1187FB3D8D4', 0, Decimal('153')),
 ('SOAACFC12A8C140567', 'Supernatural Pt. II', 'ARNHTE41187B99289A', 0, Decimal('343')),
 ('SOAACTC12AB0186A20', 'Christmas Is Coming Soon', 'ARXWFZ21187FB43A0B', 2008, Decimal('180')),
 ('SOAADAD12A8C13D5B0', 'One Shot (Album Version)', 'ARQTC851187B9B03AF', 2005, Decimal('263')),
 ('SOAADJH12AB018BD30', 'Black Light (Album Version)', 'AR3FKJ61187B990357', 1975, Decimal('385')),
 ('SOAADUU12AB0183B6F', 'Intro / Locataire (Instrumental)', 'AR70XXH1187FB44B55', 0, Decimal('101')),
 ('SOAAEHR12A6D4FB060', 'Slaves & Bulldozers', 'AR5N8VN1187FB37A4E', 1991, Decimal('415')),
 ('SOAAETA12A6D4FC626', 'Shine', 'ARQXK0B1187B9ACC97', 2007, Decimal('448')),
 ('SOAAFHQ12A6D4F836E', "Ridin' Rims (Explicit Album Version)", 'AR3CQ2D1187B9B1953', 2006, Decimal('322')),
 ('SOAAFUV12AB018831D', 'Where Do The Children Play? (LP Version)', 'AR5ZGC11187FB417A3', 0, Decimal('216')),
 ('SOAAGBO12AB017CEBB', 'Death Of Emmett Till', 'AR60ODO1187FB4D9AB', 2002, Decimal('233')),
 ('SOAAGXT12A8C13A94D', 'Beautiful Zelda (2007 Digital Remaster)', 'ARTC1LV1187B9A4858', 1968, Decimal('145')),
 ('SOAAHZO12A67AE1265', 'Agni Sha Kshi', 'AR9DE5T1187FB48CA3', 0, Decimal('229')),
 ('SOAAKBE12A8C139075', 'Emília', 'ART1OPW1187FB3C5EF', 0, Decimal('159')),
 ('SOAAKLA12A58A7A3CC', 'Snow Day (LP Version)', 'ARGWNT41187FB463F1', 0, Decimal('211')),
 ('SOAAMWQ12A8C144DF1', 'Happy Nation', 'AR2IKF71187FB4D0C2', 1992, Decimal('255')),
 ('SOAANBW12A6D4F8DE9', 'A Change Is Gonna Come (2001 Digital Remaster)', 'ARGF9VF1187FB37DAE', 1973, Decimal('259')),
 ('SOAAOLZ12A6D4FB403', 'Somebody Knew', 'ARRSUF71187FB52F33', 1997, Decimal('188')),
 ('SOAASHY12A58A7C439', 'Ricordo', 'AR0VQ8W1187FB4F4D9', 2003, Decimal('275')),
 ('SOAASSD12AB0181AA6', 'Song From Moulin Rouge', 'ARKXLIJ1187B9A4C54', 0, Decimal('195')),
 ('SOAAUGN12AB01830B6', "Don't Wanna Suffer (Carbon Copy)", 'ARVC9W21187B99354B', 2003, Decimal('180')),
 ('SOAAUVF12A58A7D58C', 'Hickory Wind (Remastered LP Version)', 'AR9VCSR1187B9B879E', 1979, Decimal('243')),
 ('SOAAVQK12A6D4F76E0', 'Ik Laat Je Vrij', 'ARCULXA1269FCD4F8D', 1979, Decimal('239')),
 ('SOAAVXG12A6D4F7777', 'Best Song In The World', 'ARO4ZPQ1187FB5083E', 1996, Decimal('164')),
 ('SOAAVYM12A8C13C43C', "Barn's On Fire", 'ARGUSVR1187B9AD15E', 2008, Decimal('103')),
 ('SOAAXAZ12A6701CC77', 'Min Häst har Blivit Sjuk', 'AR45GZC1187FB48E44', 1975, Decimal('282')),
 ('SOAAXEV12A6D4FA21C', 'Micro Chip', 'ARTRZBZ1187FB5698A', 2006, Decimal('230')),
 ('SOAAXUI12A6D4F9936', 'towards Osiris', 'ARTHSAE12131B4B70A', 0, Decimal('475')),
 ('SOAAXYX12A8C133B77', 'Can I Get With You', 'AR4OH581187B9B7157', 2000, Decimal('242')),
 ('SOAAYRB12AB0184B94', 'Should I Tell You', 'ARWEFTK1257509DE19', 2009, Decimal('164'))]

In [19]:
%sql SELECT * FROM artists LIMIT 30;

 * postgresql://dwhuser:***@dwhcluster.cvv3i08f6dbb.us-west-2.redshift.amazonaws.com:5439/dwh
30 rows affected.

[('AR00B1I1187FB433EB', 'Eagle-Eye Cherry', 'Stockholm, Sweden', None, None),
 ('AR00B1I1187FB433EB', 'Eagle-Eye Cherry', 'Stockholm, Sweden', None, None),
 ('AR00DG71187B9B7FCB', 'Basslovers United', '', None, None),
 ('AR00FVC1187FB5BE3E', 'Panda', 'Monterrey, NL, México', Decimal('25'), Decimal('-100')),
 ('AR00FVC1187FB5BE3E', 'Panda', 'Monterrey, NL, México', Decimal('25'), Decimal('-100')),
 ('AR00FVC1187FB5BE3E', 'Panda', 'Monterrey, NL, México', Decimal('25'), Decimal('-100')),
 ('AR00JIO1187B9A5A15', 'Saigon', 'Brooklyn', Decimal('40'), Decimal('-73')),
 ('AR00LNI1187FB444A5', 'Bruce BecVar', '', None, None),
 ('AR00MQ31187B9ACD8F', 'Chris Carrier', '', None, None),
 ('AR00TGQ1187B994F29', 'Paula Toller', '', None, None),
 ('AR00Y9I1187B999412', 'Akercocke', '', None, None),
 ('AR00Y9I1187B999412', 'Akercocke', '', None, None),
 ('AR00Y9I1187B999412', 'Akercocke', '', None, None),
 ('AR00Y9I1187B999412', 'Akercocke', '', None, None),
 ('AR00Y9I1187B999412', 'Akercocke', '', None, None),
 ('AR00YYQ1187FB504DC', 'God Is My Co-Pilot', 'New York, NY', Decimal('40'), Decimal('-74')),
 ('AR016P51187B98E398', 'Indian Ropeman', '', None, None),
 ('AR01G6G1187B9892EF', 'Tonino Carotone', '', None, None),
 ('AR01G6G1187B9892EF', 'Tonino Carotone', '', None, None),
 ('AR01IP11187B9AF5D2', 'Call To Preserve', 'Rockledge, Florida', Decimal('28'), Decimal('-80')),
 ('AR01S3D1187FB50A53', 'Charlie Parr', 'Minnesota', None, None),
 ('AR01SCU1187B9A693C', 'Street Dogs', 'Boston, MA', None, None),
 ('AR01SCU1187B9A693C', 'Street Dogs', 'Boston, MA', None, None),
 ('AR01WHF1187B9B53B8', 'Lullatone', 'Nagoya, Japan', None, None),
 ('AR026BB1187B994DC3', 'Ijahman Levi', '', None, None),
 ('AR026PU1187FB43FD9', 'The Vapors', '', None, None),
 ('AR026PU1187FB43FD9', 'The Vapors', '', None, None),
 ('AR02IU11187FB513F2', 'Tito Puente', 'New York, NY', None, None),
 ('AR02IU11187FB513F2', 'Tito Puente', 'New York, NY', None, None),
 ('AR02IU11187FB513F2', 'Tito Puente', 'New York, NY', None, None)]

In [23]:
%sql SELECT * FROM time ORDER BY start_time LIMIT 30;

 * postgresql://dwhuser:***@dwhcluster.cvv3i08f6dbb.us-west-2.redshift.amazonaws.com:5439/dwh
30 rows affected.

[(datetime.date(2018, 11, 1), 21, 1, 44, 11, 2018, 4),
 (datetime.date(2018, 11, 1), 21, 1, 44, 11, 2018, 4),
 (datetime.date(2018, 11, 1), 21, 1, 44, 11, 2018, 4),
 (datetime.date(2018, 11, 1), 21, 1, 44, 11, 2018, 4),
 (datetime.date(2018, 11, 1), 21, 1, 44, 11, 2018, 4),
 (datetime.date(2018, 11, 1), 21, 1, 44, 11, 2018, 4),
 (datetime.date(2018, 11, 1), 21, 1, 44, 11, 2018, 4),
 (datetime.date(2018, 11, 1), 21, 1, 44, 11, 2018, 4),
 (datetime.date(2018, 11, 1), 21, 1, 44, 11, 2018, 4),
 (datetime.date(2018, 11, 1), 22, 1, 44, 11, 2018, 4),
 (datetime.date(2018, 11, 1), 21, 1, 44, 11, 2018, 4),
 (datetime.date(2018, 11, 1), 21, 1, 44, 11, 2018, 4),
 (datetime.date(2018, 11, 1), 21, 1, 44, 11, 2018, 4),
 (datetime.date(2018, 11, 1), 20, 1, 44, 11, 2018, 4),
 (datetime.date(2018, 11, 1), 21, 1, 44, 11, 2018, 4),
 (datetime.date(2018, 11, 2), 3, 2, 44, 11, 2018, 5),
 (datetime.date(2018, 11, 2), 1, 2, 44, 11, 2018, 5),
 (datetime.date(2018, 11, 2), 9, 2, 44, 11, 2018, 5),
 (datetime.date(2018, 11, 2), 9, 2, 44, 11, 2018, 5),
 (datetime.date(2018, 11, 2), 9, 2, 44, 11, 2018, 5),
 (datetime.date(2018, 11, 2), 9, 2, 44, 11, 2018, 5),
 (datetime.date(2018, 11, 2), 10, 2, 44, 11, 2018, 5),
 (datetime.date(2018, 11, 2), 9, 2, 44, 11, 2018, 5),
 (datetime.date(2018, 11, 2), 10, 2, 44, 11, 2018, 5),
 (datetime.date(2018, 11, 2), 10, 2, 44, 11, 2018, 5),
 (datetime.date(2018, 11, 2), 11, 2, 44, 11, 2018, 5),
 (datetime.date(2018, 11, 2), 10, 2, 44, 11, 2018, 5),
 (datetime.date(2018, 11, 2), 11, 2, 44, 11, 2018, 5),
 (datetime.date(2018, 11, 2), 11, 2, 44, 11, 2018, 5),
 (datetime.date(2018, 11, 2), 11, 2, 44, 11, 2018, 5)]

In [25]:
%%sql 
SELECT songplays.user_id, users.first_name, users.last_name, users.level, COUNT(songplays.user_id)
FROM songplays JOIN users ON songplays.user_id = users.user_id
GROUP BY songplays.user_id, users.first_name, users.last_name, users.level
ORDER BY count DESC
LIMIT 20

 * postgresql://dwhuser:***@dwhcluster.cvv3i08f6dbb.us-west-2.redshift.amazonaws.com:5439/dwh
20 rows affected.

[(49, 'Chloe', 'Cuevas', 'paid', 30072),
 (80, 'Tegan', 'Levine', 'paid', 22072),
 (97, 'Kate', 'Harrell', 'paid', 19040),
 (44, 'Aleena', 'Kirby', 'paid', 9219),
 (15, 'Lily', 'Koch', 'paid', 7365),
 (73, 'Jacob', 'Klein', 'paid', 5490),
 (29, 'Jacqueline', 'Lynch', 'paid', 4836),
 (24, 'Layla', 'Griffin', 'paid', 4537),
 (88, 'Mohammad', 'Rodriguez', 'paid', 4522),
 (36, 'Matthew', 'Jones', 'paid', 3484),
 (49, 'Chloe', 'Cuevas', 'free', 2352),
 (25, 'Jayden', 'Graves', 'paid', 1900),
 (95, 'Sara', 'Johnson', 'paid', 1864),
 (30, 'Avery', 'Watkins', 'paid', 1544),
 (58, 'Emily', 'Benson', 'paid', 1404),
 (85, 'Kinsley', 'Young', 'paid', 1386),
 (16, 'Rylan', 'George', 'paid', 1326),
 (42, 'Harper', 'Barrett', 'paid', 894),
 (80, 'Tegan', 'Levine', 'free', 868),
 (88, 'Mohammad', 'Rodriguez', 'free', 782)]

In [26]:
%sql SELECT level, COUNT(user_id) FROM users GROUP BY level

 * postgresql://dwhuser:***@dwhcluster.cvv3i08f6dbb.us-west-2.redshift.amazonaws.com:5439/dwh
2 rows affected.

[('free', 1677), ('paid', 6093)]

In [27]:
%sql SELECT gender, COUNT(user_id) FROM users GROUP BY gender

 * postgresql://dwhuser:***@dwhcluster.cvv3i08f6dbb.us-west-2.redshift.amazonaws.com:5439/dwh
2 rows affected.

[('F', 5482), ('M', 2288)]